@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,700&display=swap&subset=cyrillic');

a {
  text-decoration: none;
}

img { max-width: 100% }

ul {
  list-style-type: none;
}

.visually-hidden {
  display: none;
}

.header {
  background-color: #f2f6f8;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  /*фон*/
  background-color: #293449;
}

.header-menu-links {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  /*фон*/
  background-color: #ee3643;
  border-bottom: 4px solid #800000;

  /*размеры*/
  width: 220px;

  /*блочная модель*/
  display: block;

  /*текст*/
  color: #ffffff;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-logo {
  /*фон*/
  background-color: #ee3643;
  border-bottom: 4px solid #800000;

  /*размеры*/
  width: 220px;

  /*блочная модель*/
  display: block;

  /*текст*/
  color: #ffffff;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.header-logo:hover,
.footer-logo:hover {
  /*фон*/
  background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
  /*фон*/
  background-color: #ba2732;
}

.header-menu-search {
  /*размер*/
  width: 287px;
}

.header-menu-search input {
  /*фон*/
  background-color: #293449;
  border: none;
}

.header-menu-search input::placeholder {
  /*текст*/
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.header-menu-search svg {
  fill: #ffffff;
  opacity: 0.3;
}

.header-menu-search:hover,
.header-menu-search:hover svg {
  background-color: #212a3a;
  opacity: 1;
}

.header-menu-search:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-menu-search:focus svg {
  fill: #ee3643;
}

.header-menu-bookmarks {
  /*размер*/
  width: 151px;

  /*текст*/
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.header-menu-cart {
  /*размер*/
  width: 132px;

  /*текст*/
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.header-menu-bookmarks:hover,
.header-menu-cart:hover {
  background-color: #212a3a;
}

.header-menu-bookmarks:active,
.header-menu-cart:active {
  background-color: #161d29;
  opacity: 0.6;
}

.header-menu-order {
  /*фон*/
  background-color: #63a63e;

  /*размер*/
  width: 150px;

  /*текст*/
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.header-menu-order:hover {
  background-color: #5fbb2d;
}

.header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu-order:active {
  background-color: #518534;
  color: rgba(255,255,255, 0.5);
}

.header-info-description {
  color: #ee3643;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.header-info-phone {
  border: 3px solid #ffffff;
}

.header-info-phone p {
  color: #e9292a;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.42px;
}

.header-info-address {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.login-navigation {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-link {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.registration-link {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:active,
.registration-link:active {
  color: #000000;
  opacity: 0.3;
}

.user {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-link {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-link svg,
.logout-link svg {
  opacity: 0.3;
}

.user-link p {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.user-link:hover svg,
.logout-link:hover svg {
  opacity: 1;
}

.user-link:active,
.user-link:active p,
.logout-link:active {
  opacity: 0.3;
}
.personal-navigation {
  display: flex;
  justify-content: space-around;
}

.my-orders-link {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.personal-area-link {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.my-orders-link:hover,
.personal-area-link:hover {
  color: #ee3643;
}

.my-orders-link:active,
.personal-area-link:active {
  opacity: 0.3;
  color: #32425c;
}

.site-navigation {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*фон*/
  background-color: #32425c;
  border-bottom: #32425c;
}

.site-navigation a {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.site-navigation a:hover {
  background-color: #1d2739;
}

.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.category-materials h3,
.category-tool h3,
.category-technics h3,
.category-discounts h3,
.category-delivery h3 {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.category-materials a,
.category-tool a,
.category-technics a,
.category-discounts a,
.category-delivery a {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.category-materials a:hover,
.category-tool a:hover,
.category-technics a:hover,
.category-discounts a:hover,
.category-delivery a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-materials a:active,
.category-tool a:active,
.category-technics a:active,
.category-discounts a:active,
.category-delivery a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-materials,
.category-delivery {
  background-color: #ffbf47;
}

.category-tool {
  background-color: #3bbce3;
}

.category-technics {
  background-color: #dc91d8;
}

.category-discounts {
  background-color: #8ed78f;
}

.category-drills {
  background-image: url(/img/drill.jpg);
  background-color: #644b34;
}

.category-rotary-hammers {
  background-image: url(/img/rotary_hammers.jpg);
  background-color: #aaa298;
}

.category-drills h3,
.category-rotary-hammers h3 {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.category-drills p,
.category-rotary-hammers p {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.category-drills a,
.category-rotary-hammers a {
  background-color: #ee3643;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.category-drills a:hover,
.category-rotary-hammers a:hover {
  background-color: #ca2c37;
}

.category-drills a:active,
.category-rotary-hammers a:active {
  background-color: #ba2732;
}

.popular-products,
.popular-manufacturers {
  background-color: #f9f5f0;
}

.popular-products h2,
.popular-manufacturers h2 {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products a,
.popular-manufacturers a {
  background-color: #ee3643;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.popular-products a:hover,
.popular-manufacturers a:hover {
  background-color: #ca2c37;
}

.popular-products a:active,
.popular-manufacturers a:active {
  background-color: #ba2732;
}

.catalog-manufacturers li {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.catalog-manufacturers li:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-manufacturers li:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.services {
  background-color: #f5f8fa;
}

.services h2 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.services h3 {
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.services button {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.services button:hover {
  background-color: #293449;
}

.services button:focus {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.services a {
  background-color: #ff5357;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.services a:hover {
  background-color: #ca2c37;
}

.services a:active {
  background-color: #ba2732;
}

.catalog-navigation {
  /*флекс-контейнер*/
  display: flex;
  align-items: center;
}

.catalog-navigation a {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-heading {
  background-color: #f2f6f8;
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-main {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-between;
}

.filter h2 {
  background-color: #f7f3ec;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.filter-price h3 {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-price input {
  background-color: #f7f3ec;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-manufacturers {
  /*флекс-контейнер*/
  display: flex;
  flex-direction: column;
}

.filter-manufacturers h3 {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-manufacturers label {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-power {
  /*флекс-контейнер*/
  display: flex;
  flex-direction: column;
}

.filter-power h3 {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.filter-power label {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.filter-button:hover {
  border: 1px solid #ca2c37;
}

.filter-button:active {
  color: #ca2c37;
  border: 1px solid #ca2c37;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting h2 {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-link a {
  opacity: 0.3;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dotted #ee3643;
}

.sorting-link .reverse-order,
.sorting-link .in-order {
  border-bottom: none;
  color: #000000;
  opacity: 0.3;
}

.sorting-link a:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sorting-link .reverse-order:hover,
.sorting-link .in-order:hover {
  border-bottom: none;
}

.sorting-link a:active {
  color: #ee3643;
  border-bottom: none;
}

.reverse-order:active svg,
.in-order:active svg {
  fill: #ee3643;
}

.catalog-products {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
}

.catalog-products li {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog-products li:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-products p:first-of-type {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-products p:nth-of-type(2) {
  color: #999999;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.catalog-products p:last-of-type {
  color: #ffffff;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.page-switching a {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.page-switching a:hover {
  border: 1px solid #bdc6ca;
}

.page-switching a:active {
  border: 1px solid #ee3643;
}

.page-switching:visited {
  background-color: #ee3643;
  color: #ffffff;
}

.catalog-information {
  background-color: #f2f6f8;
}

.catalog-information h2 {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-information p {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.company {
  /*флекс/контейнер*/
  display: flex;
  justify-content: space-between;
}

.company-description h2 {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.company-description p {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.company-description ul {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.company-description a {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.company-contacts h2 {
  color: #000000;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.company-contacts p {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.map-mini {
  background-color: #f6f7f6;
}

.write-us {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.company-description a:hover,
.write-us:hover {
  background-color: #ca2c37;
}

.company-description a:active,
.write-us:active {
  background-color: #ba2732;
}

.footer-top {
  background-color: #32425c;
}

.footer-top-container {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-between;
}

.footer-navigation ul {
 /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-navigation a {
  color: #f1f5f7;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-middle {
  background-color: #32425c;
}

.footer-middle-container {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-between;
}

.footer-middle p {
  color: #f3f7f9;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-menu {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu a {
  color: #ffda96;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-navigation a:hover,
.footer-menu a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom-container {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-between;
}

.footer-bottom p:first-of-type {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.social-network {
  /*флекс-контейнер*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-network li {
  background-color: #212a3a;
}

.social-network li:hover,
.social-network li:active {
  background-color: #ee3643;
}

.social-network a {
  color: #ffffff;
}

.footer-feedback {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-feedback span {
  color: #ffda96;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-designed {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-designed a {
  color: #ffda96;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-feedback span:hover,
.footer-designed a:hover {
  text-decoration: underline;
}

.footer-feedback span:active,
.footer-designed a:active {
  text-decoration: none;
  color: #ee3643;
}
